*{
    font-family: 'Viga', sans-serif;
}
body{
    margin: auto 0;
    margin-top: 13%;
    background: black; 
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5em;
    color: whitesmoke;
}
h2{
    font-size: 1em;
    color: rgb(93, 93, 95);
    text-transform: uppercase;
    
}

.max{
    
    max-width: 900px;
    margin-left: 310px;
}
.main{
    display: grid;
    justify-items: stretch;
    border: 2px #ddd solid;
    /* max-width: 50%; */
    /* max-width: 100px; */
    padding: 1em;
    /* margin-left: 300px; */

    /* start, end */
    justify-items: stretch;

    /* align-items: end; */
   
}

.wrapper{
    display: grid;
    /* 6 coloums repeating with 0.2 fr  */
    grid-template-columns: repeat(6, 0.2fr);
    grid-gap: 2em; 
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}

.wrapper > button{
    background-color: aqua;
}

/* every odd element within the wrapper */
.wrapper > button:nth-child(odd){
    background: #ddd; 
}