.main{
    display: grid;
    justify-items: stretch;
    border: 2px #ddd solid;
    padding: 1rem;
}

.wrapper{
    display: grid;
    /* 6 coloums repeating with 0.2 fr  */
    grid-template-columns: repeat(6, 0.2fr);
    grid-gap: 2rem; 
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}